  table {
  display: block;
  border: none;
  width: 100%;
  overflow-x: auto;

  td {
    background-color: #f5f8fa;
    border: 1px solid #e1e6f0;
    // padding: 5px 15px;
  }

  th {
    text-align: left;
    background-color: #f5f7fa;
    color: #677489;
    border: 1px solid #e1e6f0;
    // padding: 5px 15px;
  }
}
